body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	text-decoration: none;
	line-height: 16px;
}
form {
	line-height: 30px;
}
form label {
	font-weight: bold;
	width: 100px;
	float: left;
}
form input {
	float: left;
	width: 180px;
	padding: 2px 4px;
	color: #666;	
}
.confirm {
	color: #036;
	font-style: italic;
}
th {
	font-weight: bold;
	color: #FFF;
	background: #999;
	height: 28px;
	line-height: 28px;
	text-align: left;
	padding-left: 5px;
	cursor: pointer;
} 

th.headerSortUp { 
    background-image: url(../images/asc.gif);
    background-color: #3399FF; 
}

th.headerSortDown { 
    background-image: url(../images/desc.gif); 
    background-color: #3399FF; 
} 

td {
	height: 28px;
	line-height: 28px;
	border-bottom: solid 1px #CCC;
	text-align: left;
	white-space: nowrap;
	width: 10px;
	padding-left: 1px;
}

#criterio {
	width: auto;
}
#btbuscar {
	width: 70px;
	height: 24px;
}

select {
	border-radius: 4px;
	font-size: 16px;
}

.divContenedor {
	margin:0 auto; 
	width:500px;
	text-align:center;
}

.divLabels {
	width: 200px;
	float: left;
	text-align: right;
}

.divSelects {
	width: 300px;
	float: left;
	text-align: left;
}