RewriteEngine on
RewriteRule ^ex/$ index.php
RewriteRule ^in/$ activa.php
RewriteRule ^sla/$ sel_activa.php
RewriteRule ^sli/$ sel_ingreso.php
RewriteRule ^pcp/$ principal_cambiopass.php
RewriteRule ^cp/$ cambio_pass.php
RewriteRule ^psa/$ principal_sadmin.php
RewriteRule ^pa/$ principal_admin.php
RewriteRule ^la/$ listado_admin.php
RewriteRule ^la/(\w+)/?$ listado_admin.php?pg=$1
RewriteRule ^im/$ importar.php
RewriteRule ^re/$ recibir.php
RewriteRule ^exus/$ exportar_usuarios.php
RewriteRule ^exen/$ exportar_entidades.php
RewriteRule ^exsu/$ exportar_subentidades.php
RewriteRule ^exad/$ exportar_admin.php
RewriteRule ^expu/$ exportar_puntos.php
RewriteRule ^exre/$ exportar_redenciones.php
RewriteRule ^lua/$ listado_usuadmin.php
RewriteRule ^lua/(\w+)/?$ listado_usuadmin.php?pg=$1
RewriteRule ^lu/$ listado_usuarios.php
RewriteRule ^lu/(\w+)/?$ listado_usuarios.php?pg=$1
RewriteRule ^lp/$ listado_puntos.php
RewriteRule ^lp/(\w+)/?$ listado_puntos.php?pg=$1
RewriteRule ^lr/$ listado_redenciones.php
RewriteRule ^lr/(\w+)/?$ listado_redenciones.php?pg=$1
RewriteRule ^ap/$ agregar_puntos.php
RewriteRule ^ap/(\w+)/?$ agregar_puntos.php?id=$1
RewriteRule ^ep/$ editar_puntos.php
RewriteRule ^ep/(\w+)/?$ editar_puntos.php?id=$1
RewriteRule ^dp/$ eliminar_puntos.php
RewriteRule ^dp/(\w+)/?$ eliminar_puntos.php?id=$1
RewriteRule ^le/$ listado_entidades.php
RewriteRule ^le/(\w+)/?$ listado_entidades.php?pg=$1
RewriteRule ^lsa/$ listado_subeadmin.php
RewriteRule ^lsa/(\w+)/?$ listado_subeadmin.php?pg=$1
RewriteRule ^ls/$ listado_subentidades.php
RewriteRule ^ls/(\w+)/?$ listado_subentidades.php?pg=$1
RewriteRule ^lg/$ logout.php
RewriteRule ^aa/$ agregar_admin.php
RewriteRule ^ea/$ editar_admin.php
RewriteRule ^ea/(\w+)/?$ editar_admin.php?id=$1
RewriteRule ^da/$ eliminar_admin.php
RewriteRule ^da/(\w+)/?$ eliminar_admin.php?id=$1
RewriteRule ^au/$ agregar_usuario.php
RewriteRule ^eu/$ editar_usuario.php
RewriteRule ^du/$ eliminar_usuario.php
RewriteRule ^cu/$ captura_usuario.php
RewriteRule ^vu/$ verifica_usuario.php
RewriteRule ^eu/$ editar_usuario.php
RewriteRule ^eu/(\w+)/?$ editar_usuario.php?id=$1
RewriteRule ^du/$ eliminar_usuario.php
RewriteRule ^du/(\w+)/?$ eliminar_usuario.php?id=$1
RewriteRule ^iu/$ desactivar_usuario.php
RewriteRule ^iu/(\w+)/?$ desactivar_usuario.php?id=$1
RewriteRule ^ae/$ agregar_entidad.php
RewriteRule ^ee/$ editar_entidad.php
RewriteRule ^ee/(\w+)/?$ editar_entidad.php?id=$1
RewriteRule ^de/$ eliminar_entidad.php
RewriteRule ^de/(\w+)/?$ eliminar_entidad.php?id=$1
RewriteRule ^ie/$ desactivar_entidad.php
RewriteRule ^ie/(\w+)/?$ desactivar_entidad.php?id=$1
RewriteRule ^as/$ agregar_sube.php
RewriteRule ^es/$ editar_sube.php
RewriteRule ^es/(\w+)/?$ editar_sube.php?id=$1
RewriteRule ^ds/$ eliminar_sube.php
RewriteRule ^ds/(\w+)/?$ eliminar_sube.php?id=$1
RewriteRule ^is/$ desactivar_sube.php
RewriteRule ^is/(\w+)/?$ desactivar_sube.php?id=$1
